*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navmainBox{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
 z-index: 2;
 opacity: 0.7;
  
}
.navmainBox::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: -1;
}

.navBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
}

.navBox ul{
    display: flex;
    color: white;
    list-style: none;
    gap: 20px;
}

.navBox ul a{
    color: white;
    text-decoration-line: none;
}